<% if @user %>
  <div>
    <%= form_tag '/update', method: :patch do %>
      <div class=''>
        <%= label_tag :first_name %>
        <%= text_field_tag :first_name, @user.first_name %>
      </div>
      <div>
        <%= label_tag :last_name %>
        <%= text_field_tag :last_name, @user.last_name %>
      </div>
      <div>
        <%= label_tag :email %>
        <%= text_field_tag :email, @user.email %>
      </div>
      <% if @skills.any? %>
        <% @skill.each do |skill| %>
          <div>
            <%=  %>
          </div>
        <% end %>
      <% end %>
      <% if @projects.any? %>
      <% end %>
      <% if @experiences.any? %>
      <% end %>
      <% if @educations.any? %>
      <% end %>
    <% end %>
  </div>
<% end %>